<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= user.name %></title>
	<%- include('includes/meta') -%>
	<link rel="stylesheet" href="/css/profile.min.css">
</head>
<body>
	<%- include('includes/header', {user: me}) %>
	<div class="container-fluid profile-header p-0">
		<div data-cover='<%= user.cover_image -%>' id='profile-cover' class="profile-bg d-flex justify-content-center align-items-center position-relative" style="background-image: url('<%= user.cover_image -%>')">
			<div class="profile-change-cover">
				<button id='change-cover-ok' class='btn btn-primary d-none' for="cover-input">OK</button>
				<button id='change-cover-no' class='btn btn-danger d-none' for="cover-input"><i class="fa fa-times"></i></button>
				<label class='btn btn-outline-light' for="cover-input">Change</label>
				<input type="file" name="cover_image" id="cover-input">
			</div>
			
			<h1 class="text-center serif-font text-light"><%= user.name %></h1>
			<div class="profile-avatar user-pic">
				<img src="<%=user.picture%>" alt="" id='profile-avatar' onload="$('#avatar-loading').hide()">
				<img src="/images/loading.gif" alt="" id="avatar-loading">
			</div>
		</div>
	</div>
	<main class="container site-container" style='padding-top: 100px'>
		<div class="d-flex justify-content-center">
			<% if (me.name != user.name) { %>
			<a href="/chat/<%=user.name-%>" class='btn btn-primary'><i class="fa fa-comments"></i> CHAT</a>
			<% } %>
		</div>
	</main>

	<!-- modal for err -->
	<div class="modal fade" id="error-modal">
		<div class="modal-dialog modal-dialog-centered">
			<pre class="modal-content">
				<div class="modal-header">
					<div class="modal-title">Error</div>
				</div>
				<pre class="modal-body">
				</pre>
				<div class="modal-footer">
					<button class="btn btn-secondary" data-dismiss='modal'>Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<% if (me.name == user.name) { %>
	<script src="/js/profile-owner.js"></script>
	<% } %>
</body>
</html>